@media (max-width: 740px) {
    .product-card {
        min-width: 350px;
        max-width: 450px;
    }

    .products {
        gap: 35px;
    }
}

@media (max-width: 540px) {
    .product-card {
        min-width: 250px;
        max-width: 350px;
    }

    .products {
        gap: 35px;
    }

    .login-form {
        font-size: 26px;
    }

    .login-form h2{
        font-size: 36px;
    }

    .login-form button {
        font-size: 28px;
        height: 50px;
    }
}

@media (max-width: 1200px) {
    .account-edit-view {
        flex-direction: column;
        justify-content: center;
    }

    .view {
        width: 100%;
    }

    .edit {
        width: 100%;
    }
}

@media (max-width: 640px) {
    .nav-menu {
        display: none;
    }
}