@media (max-width: 740px) {
    .product-card {
        min-width: 350px;
        max-width: 450px;
    }

    .products {
        gap: 35px;
    }
}

@media (max-width: 540px) {
    .product-card {
        min-width: 250px;
        max-width: 350px;
    }

    .products {
        gap: 35px;
    }

    .login-form {
        font-size: 30px;
    }

    .login-form h2{
        font-size: 40px;
    }

    .login-form button {
        font-size: 30px;
        height: 50px;
    }
}